body {
  font-family: Arial;
  background-color: white;
  color: black;
  padding: 20px;
}

.dark {
  background-color: black;
  color: white;
}

.section {
  margin-top: 20px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
}
