.box {
  position: absolute;
  width: 180px;
  height: 120px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 1000;
}
.box1 {
  background-color: red;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.box2 {
  background-color: blue;
  top: 60px;
  left: 100px;
  z-index: 2;
}
.box3 {
  background-color: green;
  top: 120px;
  left: 180px;
  z-index: 3;
}
