body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header,
footer {
  text-align: center;
  margin: 20px;
}
#profile {
  width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  background-color: #f1eeee;
  box-sizing: border-box;
}

.profile-photo {
  display: block;
  margin: 0 auto 15px;
  width: 25%;
  max-width: 150px;
  border-radius: 8px;
}

#profile h2 {
  font-size: 1.5em;
  margin: 0.3em;
  text-align: center;
}

.info {
  text-align: center;
  margin: 5px 0;
  font-size: 1em;
}

.bio {
  margin-top: 10px;
  font-size: 0.95em;
  line-height: 1.4em;
  text-align: center;
}
